//
// MDC Theme
//

@import "@material/theme/color-palette";

// Svelte Colors!
$mdc-theme-primary: #2e7d32;
$mdc-theme-secondary: #011f19;
// Other Svelte color: #40b3ff

$mdc-theme-background: #f0f0f0;
$mdc-theme-surface: #ffffff;

$mdc-theme-error: #b35f00;




