<script>
  export let src;
</script>

<!-- svelte-ignore a11y-media-has-caption -->
<audio class="audioplayer__audio" controls src={src}></audio>

<style>
  .audioplayer__audio {
    width: 500px;
    max-width: 100%;
    display: block;
  }
</style>