<script>
  import { TYPE } from '../consts';

  export let messageData;
  let redactedData = {};

  let showDebug = false;

  const toogleDebug = () => {
    showDebug = !showDebug;
  }

  $: {
    redactedData = {...messageData};
    if (redactedData.quoted?.thumbnail){
      redactedData.quoted = {...messageData.quoted, thumbnail: 'REDACTED'};
    }
    if (redactedData.thumbnail){
      redactedData = {...messageData, thumbnail: 'REDACTED'};
    }
    showDebug = false;
  };
</script>

<li class="bubble"
    class:bubble--animate={false}
    class:bubble--sent={messageData.isSent}
    class:bubble--status={messageData.isStatus}
    id="{messageData.key_id}">
  <div class="bubble__outsideContainer"
    class:bubble__outsideContainer--narrow={[TYPE.IMAGE, TYPE.GIF, TYPE.VIDEO, TYPE.AUDIO].includes(messageData.media_wa_type)}
    class:bubble__outsideContainer--first={!messageData.isStatus && messageData.isFirstFromUser}>
    <div class="bubble__container">
    <div class="bubble__info" on:click={toogleDebug}>ⓘ</div>
    <div class="bubble__debug {showDebug ? 'bubble__debug--show' : ''}">
      <div>{JSON.stringify(redactedData, null, 2)}</div>
    </div>
    <slot></slot>
    </div>
    <slot name="outside"></slot>
  </div>
</li>

<style>
  .bubble {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding: 0 max(16px, 8%);
    overflow: hidden;
  }
  .bubble--animate {
    animation: blink-1 0.6s both;
  }

  .bubble--sent {
    justify-content: flex-end;
  }

  .bubble--status {
    justify-content: space-around;
  }
  .bubble__outsideContainer {
    max-width: 66.66%;
    margin: 2px 0;
  }
  .bubble__container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 2px -1.5px #000;
    position: relative;
  }

  .bubble__outsideContainer--narrow {
    max-width: 33.33%;
  }

  .bubble__outsideContainer--first {
    margin: 12px 0 2px;
  }

  .bubble__outsideContainer--first .bubble__container::before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    height: 0;
    top: 0px;
    left: -10px;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: #ffffff transparent transparent transparent;
  }

  .bubble__info {
    display: none;
    opacity: 0.6;
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 2px 2px;
    font-size: 0.6em;
    line-height: 1;
    cursor: pointer;
    z-index: 1;
    text-shadow: 0 0 1px #ffffff;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 35%, rgba(255,255,255,0) 70%);
  }

  .bubble:hover .bubble__info{
    display: block;
  }

  .bubble__debug {
    display: none;
    padding: 5px 8px;
    font-size: 0.6em;
    word-break: break-word;
    font-family: monospace;
    white-space: pre-wrap;
    line-height: 1.2;
  }

  .bubble__debug--show {
    display: block;
  }
  @keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }

</style>