<script>
  import Time from './Time.svelte';

  export let messageData;
  export let withBubble = false;
  export let forceText = false;
  export let timePrefix = null;

</script>

{#if forceText || withBubble || messageData.text_data !== null}
  <div class="caption">{messageData.text_data ?? ''}
  &nbsp;
  <Time messageData={messageData} prefix={timePrefix} withBubble={withBubble}/></div>
{:else}
  <Time messageData={messageData} isOverlay={true} prefix={timePrefix} />
{/if}

<style>
  .caption {
    padding: 0 4px;
    margin-top: 2px;
    line-height: 1.2;
  }
</style>