<script>
  import { TYPE } from '../consts';
  import Bubble from './Bubble.svelte';
  import Name from './Name.svelte';
  import Quote from './Quote.svelte';
  import Thumbnail from './Thumbnail.svelte';
  import Status from './Status.svelte';
  import Unknown from '../types/Unknown.svelte';
  import Deleted from '../types/Deleted.svelte';
  import Text from '../types/Text.svelte';
  import Image from '../types/Image.svelte';
  import Audio from '../types/Audio.svelte';
  import Video from '../types/Video.svelte';
  import Gif from '../types/Gif.svelte';
  import Sticker from '../types/Sticker.svelte';

  export let messageData;
  export let isChat;

</script>

<Bubble messageData={messageData}>
  {#if isChat && !messageData.isSent && !messageData.isStatus && (messageData.isFirstFromUser || messageData.message_type !== TYPE.TEXT || messageData.hasQuote)}
    <Name color={messageData.color}>{messageData.name}</Name>
  {/if}
  {#if messageData.hasQuote}
    <Quote messageData={messageData}></Quote>
  {/if}
  {#if messageData.thumbnail}
    <Thumbnail messageData={messageData} />
  {/if}
  {#if messageData.isStatus}
    <Status messageData={messageData} />
  {:else if messageData.message_type === TYPE.TEXT}
    <Text messageData={messageData} />
  {:else if messageData.message_type === TYPE.IMAGE}
    <Image messageData={messageData} />
  {:else if messageData.message_type === TYPE.AUDIO}
    <Audio messageData={messageData} />
  {:else if messageData.message_type === TYPE.VIDEO}
    <Video messageData={messageData} />
  {:else if messageData.message_type === TYPE.GIF}
    <Gif messageData={messageData} />
  {:else if messageData.message_type === TYPE.STICKER}
    <span></span>
  {:else if messageData.message_type === TYPE.DELETED}
    <Deleted messageData={messageData} />
  {:else}
    <Unknown messageData={messageData} />
  {/if}
  <span slot="outside">
    {#if messageData.message_type === TYPE.STICKER}
      <Sticker messageData={messageData} />
    {/if}
  </span>
</Bubble>
