<script>
  export let color;
</script>

<div style="--name-color: {color}" class="name">
  <slot></slot>
</div>

<style>
  .name {
    padding: 3px 8px 0;
    font-size: 0.8em;
    line-height: 1.6;
    color: var(--name-color);
  }
</style>