<script>
  import Name from './Name.svelte';
  import { TYPE } from '../consts';

  export let messageData;

  let icon = '';
  let placeholder = '';
  let name = '';
  let color = '';
  let src = null;

  const icons = {};
  icons[TYPE.IMAGE] = 'photo_camera';
  icons[TYPE.VIDEO] = 'videocam';
  icons[TYPE.AUDIO] = 'mic';
  icons[TYPE.GIF] = 'gif';

  const placeholders = {};
  placeholders[TYPE.IMAGE] = 'Photo';
  placeholders[TYPE.VIDEO] = 'Video';
  placeholders[TYPE.AUDIO] = 'Audio';
  placeholders[TYPE.GIF] = 'GIF';

  $: {
    icon = icons[messageData.quoted.message_type] || null;
    placeholder = placeholders[messageData.quoted.message_type] || null;
    name = messageData.quoted.from_me === 1 ? 'Me' : messageData.quoted.name;
    color = messageData.quoted.color;
    src = messageData.quoted.thumbnail && `data:image/jpeg;base64,${messageData.quoted.thumbnail}`;
    if (messageData.quoted.file_path && [TYPE.IMAGE, TYPE.GIF].includes(messageData.quoted.message_type)){
      src = `/files/WhatsApp/${messageData.quoted.file_path}`;
    }
  }

  const handleClick = () => {
    const target = document.getElementById(messageData.quoted.key_id);
    if (target) {
      target.scrollIntoView({behavior: "smooth", block: "center"});
      target.classList.add('bubble--animate');
      setTimeout(() => {
        target.classList.remove('bubble--animate');
      }, 2000);
    }

  }
</script>


  <div class="quote" style="--border-color: {color}" on:click={handleClick}>
    <div class="quote__container">
      <Name color={color}>{name}</Name>
      <div class="quote__text">
        {#if icon}
          <i class="material-icons">{icon}</i>
        {/if}
        {messageData.quoted.text_data ?? placeholder}
      </div>
    </div>
    {#if src}
      <div class="quote__thumb">
        <img class="quote__thumbimg" alt="{messageData.quoted.text_data ?? placeholder}" src="{src}">
      </div>
    {/if}
  </div>


<style>
  .quote {
    margin: 2px 4px;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.1);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }
  .quote__container {
    flex-grow: 1;
  }
  .quote__thumb {
    flex-shrink: 0;
    width: 50px;
    overflow: hidden;
    position: relative;
  }
  .quote__thumbimg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .quote:after {
    content: "";
    position: absolute;
    background-color: var(--border-color);
    width: 4px;
    top: 0;
    bottom: 0;
  }
  .quote__text {
    margin: 5px 8px;
    font-size: 0.9em;
    word-break: break-word;
    white-space: pre-line;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .quote .material-icons {
    font-size: 1.1em;
    line-height: 1;
    vertical-align: bottom;
  }
</style>