<script>
import Unknown from '../types/Unknown.svelte';
import { ACTION_TYPE } from '../consts';

export let messageData;

const isStatusChange = (messageData.text_data !== null) && (messageData.name !== null);
</script>

{#if messageData.action_type === ACTION_TYPE.CHANGE_STATUS}
  <div class="status">{messageData.name} changed the status to ″{messageData.text_data}″</div>
{:else if messageData.action_type === ACTION_TYPE.CHANGE_GROUP_ICON}
  <div class="status">{messageData.name} changed the group's icon</div>
{:else if messageData.action_type === ACTION_TYPE.ADDED_YOU}
  <div class="status">{messageData.name} added you</div>
{:else if messageData.action_type === ACTION_TYPE.CODE_CHANGED}
  <div class="status">Your security code with {messageData.name} changed</div>
{:else if messageData.action_type === ACTION_TYPE.MESSAGES_ARE_ENCRYPTED}
  <div class="status">Messages are end-to-end encrypted</div>
{:else}
  <Unknown messageData={messageData} />
{/if}

<style>
  .status {
    padding: 2px 10px;
    font-size: 0.8em;
    word-break: break-word;
    opacity: 0.7;
  }
</style>