<script>
  export let messageData;
  let src = messageData.thumbnail && `data:image/jpeg;base64,${messageData.thumbnail}`;
</script>

<div class="thumbnail"><img class="thumbnail__img" src="{src}"></div>

<style>
  .thumbnail {
    display: flex;
    margin: 2px 4px;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.1);
    line-height: 0;
    overflow: hidden;
  }
  .thumbnail__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>