<script>
  export let messageData;
  export let isOverlay = false;
  export let isEmoji = false;
  export let prefix = null;
  export let withBubble = false;
</script>

<span title="{messageData.date} {messageData.time}"
      class="{isOverlay===true ? 'time--overlay' : 'time--withtext'} {isEmoji ? 'time--withemoji' : ''} {withBubble ? 'time--withbubble' : ''}">
  {prefix ?? ''} {messageData.time}
</span>

<style>

  .time--withtext {
    font-size: 0.7rem;
    float: right;
    margin-left: 30px;
    opacity: 0.5;
    line-height: 1;
    margin-top: 9px;
    margin-right: -5px;
  }

  .time--withemoji {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 2px;
    margin-right: 3px;
  }

  .time--overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 0.7rem;
    opacity: 1;
    line-height: 1;
    margin: 4px;
    padding: 10px 4px 4px 4px;
    color: #ffffff;
    background: linear-gradient(rgba(0%,0%,0%,0), rgba(0%,0%,0%,0.2));
    text-align: right;
    border-radius: 0 0 4px 4px;
  }

  .time--withbubble {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 2px -1.5px #000;
    padding: 5px;
    opacity: 1;
  }
</style>