<script>
  import AudioPlayer from '../components/AudioPlayer.svelte';
  import Caption from '../components/Caption.svelte';

  export let messageData;
</script>

<div class="audio">
  <AudioPlayer src="/files/WhatsApp/{messageData.file_path}" />
  <Caption messageData={messageData} forceText=true />
</div>

<style>
  .audio {
    padding: 4px 4px;
    font-size: 0.9em;
    word-break: break-word;
  }
</style>