<script>
  export let messageData;
</script>

<div class="deleted">This message was deleted<span class="deleted__time">{messageData.time}</span></div>

<style>
  .deleted {
    padding: 4px 10px;
    font-size: 0.9em;
    word-break: break-word;
    white-space: pre-line;
    line-height: 1.2;
    opacity: 0.5;
    font-style: italic;
  }
  .deleted__time {
    font-size: 0.7rem;
    float: right;
    margin-left: 30px;
    opacity: 0.5;
    line-height: 1;
    margin-top: 0.7rem;
    margin-bottom: 0.4rem;
  }
</style>