<script>
  import Caption from '../components/Caption.svelte';

  export let messageData;
</script>

<div class="gif">
  <!-- svelte-ignore a11y-media-has-caption -->
  <video class="gif__video"
    autoplay
    loop="true"
    width="messageData.width"
    height="messageData.height">
    <source src="/files/WhatsApp/{messageData.file_path}">
  </video>
  <Caption messageData={messageData} timePrefix="GIF"/>
</div>

<style>
  .gif {
    padding: 4px 4px;
    font-size: 0.9em;
    word-break: break-word;
    position: relative;
  }

  .gif__video {
    max-width: 100%;
    min-width: 13vw;
    display: block;
    border-radius: 4px;
    object-fit: cover;
  }
</style>