<script>
  import Caption from '../components/Caption.svelte';

  export let messageData;
</script>

<div class="image">
  <a href="/files/WhatsApp/{messageData.file_path}" target="_blank">
    <img class="image__image" src="/files/WhatsApp/{messageData.file_path}" alt="{messageData.media_caption}">
  </a>
  <Caption messageData={messageData} />
</div>

<style>
  .image {
    padding: 4px 4px;
    font-size: 0.9em;
    word-break: break-word;
    position: relative;
  }

  .image__image {
    width: 100%;
    min-width: 13vw;
    height: 400px;
    display: block;
    border-radius: 4px;
    object-fit: cover;
  }
</style>