<script>
  import Caption from '../components/Caption.svelte';

  export let messageData;
</script>

<div class="sticker">
  <img class="sticker__image" src="/files/WhatsApp/{messageData.file_path}" alt="{messageData.media_caption}">
  <Caption messageData={messageData} withBubble={true}/>
</div>

<style>
  .sticker {
    padding: 4px 4px;
    font-size: 0.9em;
    word-break: break-word;
    position: relative;
  }

  .sticker__image {
    width: 100%;
    min-width: 13vw;
    height: 250px;
    display: block;
    border-radius: 4px;
    object-fit: cover;
  }
</style>