<script>
  import emojiRegex from 'emoji-regex';
  import Time from '../components/Time.svelte';

  export let messageData;

  const isEmoji = (text) => {
    const regex = emojiRegex();
    const match = regex.exec(text);
    return (match && match[0] && match[0] === text)
  };


</script>

<div class="text {isEmoji(messageData.text_data) ? 'text--emoji' : ''}">{messageData.text_data}
   <Time messageData={messageData} isEmoji={isEmoji(messageData.text_data)} />
</div>

<style>
  .text {
    padding: 5px 8px 3px;
    font-size: 0.9em;
    word-break: break-word;
    white-space: pre-line;
    line-height: 1.2;
  }
  .text--emoji {
    font-size: 4em;
    line-height: 1;
    padding: 20px 20px 15px;
    position: relative;
  }
</style>