<script>
  import Time from '../components/Time.svelte';

  export let messageData;
</script>

<div class="unknown">
    Unknown type {messageData.message_type}
   <Time messageData={messageData}/>
</div>

<style>
  .unknown {
    padding: 4px 10px;
    font-size: 0.6em;
    word-break: break-word;
    white-space: pre-line;
    line-height: 1.2;
    opacity: 0.5;
  }
</style>