<script>
  import Caption from '../components/Caption.svelte';

  export let messageData;
</script>

<div class="video">
  <!-- svelte-ignore a11y-media-has-caption -->
  <video class="video__video" controls width="100%">
    <source src="/files/WhatsApp/{messageData.file_path}">
  </video>
  <Caption messageData={messageData} />
</div>

<style>
  .video {
    padding: 4px 4px;
    font-size: 0.9em;
    word-break: break-word;
    position: relative;
  }
  .video__video {
    width: auto;
    min-width: 13vw;
    max-width: 100%;
    height: 400px;
    display: block;
    border-radius: 4px;
    background: #000;
  }
</style>