<script>
  import axios from 'axios';
  import Chats from './Chats.svelte';
  import Messages from './Messages.svelte';
  import { contacts } from '../stores.js';

  let chat = null
  let contactsValue = null;

  contacts.subscribe(value => {
    contactsValue = value;
  });

  axios.get('/v1/contacts')
    .then(function (response) {
      contacts.set(response.data.contacts);
    })
    .catch(function (error) {
      console.log(error);
    })

</script>

{#if contactsValue}
  <Chats bind:selectedChat={chat}/>
  <Messages bind:selectedChat={chat}/>
{/if}
