<script>
  import TopAppBar, {Row, Section, Title} from '@smui/top-app-bar';
  import IconButton from '@smui/icon-button';
  import List, {Item, Graphic, Meta, Text, PrimaryText, SecondaryText} from '@smui/list';
  import axios from 'axios';

  export let selectedChat = null;

  let chatList = null;

  axios.get('/v1/chats')
    .then(function (response) {
      chatList = response.data.chats.map(dbLine => {
        const isChat = dbLine.subject !== null;
        const date = new Date(dbLine.sort_timestamp);
        let name = '+' + dbLine.raw_string.split('@')[0];

        if (isChat) {
          name = dbLine.subject;
        } else {
          if (dbLine.contact) {
            name = dbLine.contact.name
          }
        }

        return {
          id: dbLine._id,
          isChat,
          name,
          lastMessage: date.toLocaleString(),
          disabled: false
        }
      })
      onSelect(0);
    })
    .catch(function (error) {
      console.log(error);
    })

    const onSelect = (index) => {
      selectedChat = chatList[index];
      console.log(`Selected`, chatList[index])
    }

</script>

<section class="chats">
  <TopAppBar variant="static" color='primary'>
    <Row>
      <Section>
        <IconButton class="material-icons">menu</IconButton>
        <Title>WhatsApp Backup Explorer</Title>
      </Section>
      <Section align="end" toolbar>
        <IconButton class="material-icons" aria-label="Download">file_download</IconButton>
      </Section>
    </Row>
  </TopAppBar>
  {#if chatList}
    <div class="chats__list">
      <List twoLine avatarList singleSelection>
        {#each chatList as item, itemIndex}
          <Item on:SMUI:action={() => onSelect(itemIndex)} disabled={item.disabled} selected={itemIndex === 0}>
            <Graphic style="fill: hsl({itemIndex*97%360}, 60%, 70%);">
              <svg width="100%" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <circle cx="50" cy="50" r="50"/>
              </svg>
            </Graphic>
            <Text>
              <PrimaryText>{item.name}</PrimaryText>
              <SecondaryText>{item.lastMessage}</SecondaryText>
            </Text>
            <Meta class="material-icons">info</Meta>
          </Item>
        {/each}
      </List>
    </div>
  {/if}

</section>

<style>
  .chats {
    border-right: 1px solid rgba(0,0,0,.1);
    min-width: 300px;
    width: 43%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .chats__list{
    overflow: auto;
  }
</style>